body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar {
    background-color: #444;
    text-align: center;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .main-content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .movie-item {
    width: calc(33.33% - 10px); 
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .movie-title {
    font-weight: bold;
    font-size: 18px;
  }
  
  .movie-poster {
    max-width: 100%;
    height: auto;
  }
  
  .movie-rating {
    color: #f39c12;
    font-size: 14px;
  }
  
  .button-sign-out {
    background-color: #f39c12;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .button-sign-out:hover {
    background-color: #e68a00;
  }
  
  .category-buttons {
    margin-top: 10px;
  }
  
  .category-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: bold;
  }
  
  .category-button.selected {
    background-color: #f39c12;
  }
  
  .category-button:hover {
    background-color: #e68a00;
  }
  
  .sort-select label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .sort-select select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  