.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #444;
    font-family: 'Arial', sans-serif;
}

.navbar div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.navbar button:hover {
    color: #ddd;
    transform: translateY(-2px);
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
}