/* home.css */

/* Reset CSS */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-y: auto;
}

/* Header Styles */
/* Header Styles */
.header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

.header .logo {
  font-size: 32px;
  text-decoration: none;
  color: #fff;
}

.header .nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header .nav li {
  margin-right: 20px;
}

.header .nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.header .nav a:hover {
  text-decoration: underline;
}

.header .sign-out-button {
  background-color: #f39c12;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: bold;
}

.header .sign-out-button:hover {
  background-color: #e68a00;
}


/* Main Content Grid */
.main-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 affiches par ligne */
  grid-gap: 20px;
  padding: 20px;
}

/* Movie Item Styles */
.movie-item {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}

/* Movie Details Styles */
.movie-details {
  text-align: left;
}

/* Movie Title Styles */
.movie-title {
  font-weight: bold;
  font-size: 18px;
}

/* Movie Poster Styles */
.movie-poster {
  max-width: 100%;
  height: auto;
}

/* Movie Rating Styles */
.movie-rating {
  color: #f39c12;
  font-size: 14px;
}

/* Sign Out Button Styles */
.button-sign-out {
  background-color: #f39c12;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

/* Category Buttons Styles */
.category-buttons {
  margin-top: 10px;
}

.category-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: bold;
}

.category-button.selected {
  background-color: #f39c12;
}

.category-button:hover {
  background-color: #e68a00;
}

/* Sort Select Styles */
.sort-select label {
  font-weight: bold;
  margin-right: 10px;
  font-size: 16px;
}

.sort-select select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Search Container Styles */
.search-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

/* Search Input Styles */
.search-input {
  flex: 1;
  position: relative;
}

.search-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

search-input select {
  position: absolute;
  right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Movie Producer Styles */
.movie-producer {
  font-size: 14px;
}

/* Movie Seasons Styles */
.movie-seasons {
  font-size: 14px;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 15px;
}

.centered-image {
  display: block;
  margin: auto;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 350px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  background-color: #333;
  color: #fff;
}

.search-container input[type="text"]::placeholder {
  color: #ddd;
}

.search-container input[type="text"]:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.search-container select {
  padding: 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #333;
  color: #fff;
}

.search-container select:focus {
  outline: none;
}

.sort-select {
  text-align: center;
  margin-bottom: 20px;
}

.sort-select label {
  margin-right: 10px;
  font-weight: bold;
  color: #333;
}

.sort-select select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #333;

  color: #fff;
}

.sort-select select:focus {
  outline: none;
}

.category-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category-button {
  padding: 8px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button.selected,
.category-button:hover {
  background-color: #444;
}